header {
  h1, nav {
    margin: auto;
  }
  h1 {
    background: transparent url('/images/rubyconf_tee_2010.png') no-repeat 0 0;
    width: 552px;
    height: 370px;
  }
  nav {
    ul {
      overflow: hidden;
      margin: auto;
      text-align: center;
    }
  }
}

section {
  width: 61%;
  float: left;
  margin-left: 5%;
}

aside {
  width: 33%;
  float: right;
}

footer {
  width: 90%;
  margin: 20px 5%;
  clear: both;
}