<h1 class="sifrd">THE RACE IS ON!</h1>

<p>
  Recognizing our plight, the weathermen (who, as we all know, actually
  <emph>do</emph> control these things) have pushed today's rain back to the 9
  o'clock hour, giving us plenty of time to run our race before-hand.
</p>

<p>
  Race starts promptly at 7:30. Please arrive early enough to get your bib.
  We'll have t-shirts at the start/finish line, which you can collect before
  the race if you want to run in them, or after the race. Don't forget your
  printed receipt of the donation you made to the Leukemia &amp; Lymphoma
  Society.
</p>

<p>
  See you soon!
</p>

<br/>
<br/>
