<h1 class="sifrd">POSSIBLE RAIN DELAY</h1>

<h2>Check back here 7:00 AM on Friday morning</h2>

<p>
  In the event of significant rain, we'll postpone the run to Saturday
  morning. Please check back here at 7:00 AM on Friday morning, by
  which time we will have made a decision and will post it right here.
</p>

<br/>
<br/>
<br/>
