<h1 class="sifrd">THANK YOU!</h1>

<p>
  Thanks to everyone who ran with us this morning. It was a gorgeous morning
  and we all had a lot of fun. We also raised over $1,300 for the
  <%= link_to_charity %>
</p>

<p>
  We'll post the run times in the next day or two so check back if you want to
  see how everybody did.
</p>

<br/>
<br/>
