<!-- For content that would be repeated in each right column -->
<h3 class="sifrd">Sponsors</h3>
<a href="http://edgecase.com" target="_blank">Edge Case</a><br/>
<a href="http://entp.com" target="_blank">ENTP</a><br/>
<a href="http://planetargon.com/" target="_blank">Planet Argon</a><br/>
<a href="http://pragprog.com" target="_blank">The Pragmatic Bookshelf</a><br/>
