<% content_for :rightcol do %>
  <%= render :partial => "rightcol" %>
<% end %>

<!-- Main page content below this line -->

<h1 class="sifrd">Your Main Headline text here</h1>


<h2 class="sifrd">Sub heading Text</h2>

<p> Body text paragraph rock n roll!</p>