<% content_for :rightcol do %>
  <%= render :partial => "rightcol" %>
<% end %>

<!-- Main page content below this line -->

<%= render :partial => "rain_delay" %>

<h1 class="sifrd">Run, Rubyist, Run!</h1>

<h2 class="sifrd">Run for Charity</h2>

<p>Entry to the race requires a donation to <%= raw link_to_charity %>. By participating, you'll be supporting this organization in its efforts to fight leukemia and lymphoma.</p>

<h2 class="sifrd">Run for You</h2>

<p>Running is great exercise. And, let's face it--programmers aren't known for getting a lot of exercise. So take this opportunity to get some! If you can't run 3.1 miles yet, it's a nice attainable distance if you start training now.  We recommend the <a href="http://www.coolrunning.com/engine/2/2_3/181.shtml" target="_blank">Couch-to-5k</a> program.</p>


<h2 class="sifrd">Run for Fun</h2>

<p>Running is a social activity. Get outdoors and spend some time with your fellow Rubyists doing something healthy and fun.</p>

<h2 class="sifrd">Run for Prizes</h2>

<p>
  OK, so just in case the personal satisfaction of helping others and feeling great is not enough for you, we've thrown in fabulous prizes for the first three to finish the race:
</p>

<h3 class="sifrd">First Prize</h3>
  <p>$100 gift certficate for the <a href="http://pragprog.com" target="_blank">The Pragmatic Bookshelf</a>.</p>
<h3 class="sifrd">Second Prize</h3>
  <p>TBD</p>
<h3 class="sifrd">Third Prize</h3>
  <p>TBD</p>
