<% content_for :rightcol do %>
  <%= render :partial => "rightcol" %>
<% end %>

<!-- Main page content below this line -->

<h1 class="sifrd">Run, Ruby, Run!</h1>


<h2 class="sifrd">Can you run 3.1 miles?</h2>

<p>If so, join us for the first unofficial RubyConf 5k! If not, now's a perfect time to try!</p>


