<% content_for :rightcol do %>
  <%= render :partial => "rightcol" %>
<% end %>

<!-- Main page content below this line -->

<h1 class="sifrd">Run, Rubyist, Run!</h1>


<h2 class="sifrd">Run for Charity</h2>

<p>Entry to the race requires a donation to FIXME WITH LINK. By participating, you'll be supporting this organization in its efforts to fight leukemia and lymphoma.</p>

<h2 class="sifrd">Run for You</h2>

<p>Running is great exercise. And, let's face it--programmers aren't known for getting a lot of exercise. So take this opportunity to get some exercise. If you can't run 3.1 miles yet, it's a nice attainable distance if you start training now.  We recommend the <a href="http://www.coolrunning.com/engine/2/2_3/181.shtml">Couch-to-5k</a> program.</p>


<h2 class="sifrd">Run for Fun</h2>

<p>Running is a social activity. Get outdoors and spend some time with your fellow Rubyists doing something healthy and fun.</p>