<!-- Main page content below this line -->

%aside
  = render :partial => "register_button"

%section
  %h1 Run, Rubyist, Run!

  %h2 Run for Charity

  %p== Entry to the race requires a donation to the #{link_to "Geeks With Balls", "http://us.movember.com/donate/your-details/team_id/89968/"} #{link_to "Movember", "http://us.movember.com/"} team. By participating, you'll be supporting the team in its efforts to fight prostate and other types of cancer.</p>

  %h2 Run for You

  %p== Running is great exercise. And, let's face it--programmers aren't known for getting a lot of exercise. So take this opportunity to get some! If you can't run 3.1 miles yet, it's a nice attainable distance if you start training now.  We recommend the #{link_to "Couch-to-5k", "http://www.coolrunning.com/engine/2/2_3/181.shtml"} program.


  %h2 Run for Fun

  %p Running is a social activity. Get outdoors and spend some time with your fellow Rubyists doing something healthy and fun.
