<% content_for :rightcol do %>
  <%= render :partial => "rightcol" %>
<% end %>

<!-- Main page content below this line -->

<p>
Copyright (c) 2009 The Unofficial RubyConf 5k Team  
</p>

<p>
Permission is hereby granted, free of charge beyond registration fees, to any
person registering for the (Unofficial) RubyConf 5K (the "Race"), to deal in
the Race without restriction, including, without limitation the rights to run,
jog, walk, breathe quickly or slowly, stop for water, find a bathroom, win,
place, show, or even come in last (we would, however, prefer it if you don't
knock down any of your running mates), subject to the following conditions:
</p>

<p>
PARTICIPATION IN THE RUBYCONF 5K IS PERMITTED "AS IS", WITHOUT WARRANTY OF ANY
KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
SAFETY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT
SHALL THE ORGANIZERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR
IN CONNECTION WITH THE RUBYCONF 5K OR THE USE OR OTHER DEALINGS IN THE
RUBYCONF 5K.
</p>
