<% content_for :rightcol do %>
  <%= render :partial => "rightcol" %>
  
  
<% end %>

<h2 class="sifrd">Where?</h2>

<p>
  The start (and finish) line is right outside the Embassy Suites on the bay
  side of the hotel. The course is mostly along water, and we'll have people
  at the turning points to help guide you. Here's the basic description:
</p>

<ul>
  <li>Run 1/4 mile north along the water</li>
  <li>Turn around and run south past the starting line</li>
  <li>Turn right at Kincaid's Bayhouse and loop around the lagoon</li>
  <li>Continue south along the water until Sherman's and turn right into the parking lot</li>
  <li>Turn around at the other end of the parking lot and head back towards the water</li>
  <li>Turn left at the water and head back north</li>
  <li>Loop back around the lagoon you looped around in step 3, but in the other direction</li>
  <li>Continue north to the finish line (which used to be the starting line)</li>
</ul>

<br/>
<br/>


<iframe width="475" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?client=safari&amp;oe=UTF-8&amp;ie=UTF8&amp;q=san+francisco+embassy+suites+burlingame&amp;fb=1&amp;split=1&amp;gl=us&amp;cid=0,0,9661490816445483596&amp;ei=8ux6Ss3-HJD4sQOAvazvCg&amp;ll=37.591697,-122.34802&amp;spn=0.006295,0.006295&amp;output=embed"></iframe>