%h1 Where?

%p== At the #{link_to "RubyConf", "http://rubyconf.org/"} venue, Hilton New Orleans Riverside. More precise instructions will follow later.

%p
  %iframe{:width => "425", :height => "350", :frameborder => "0", :scrolling => "no", :marginheight => "0", :marginwidth => "0", :src => "http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Hilton+New+Orleans+Riverside&amp;sll=61.5131,23.919495&amp;sspn=0.018729,0.029354&amp;ie=UTF8&amp;hq=Hilton+New+Orleans+Riverside&amp;hnear=&amp;radius=15000&amp;z=13&amp;iwloc=A&amp;cid=3637270343315279328&amp;ll=29.947865,-90.063526&amp;output=embed"}

%p== #{link_to "View larger map", "http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Hilton+New+Orleans+Riverside&amp;sll=61.5131,23.919495&amp;sspn=0.018729,0.029354&amp;ie=UTF8&amp;hq=Hilton+New+Orleans+Riverside&amp;hnear=&amp;radius=15000&amp;z=13&amp;iwloc=A&amp;cid=3637270343315279328&amp;ll=29.947865,-90.063526"}