%section
  %h1 Registration

  %h3 1. Donate

  %p== The "fee" for entry is a donation to the #{link_to "Geeks With Balls", "http://us.movember.com/donate/your-details/team_id/89968/"} #{link_to "Movember", "http://us.movember.com/"} team. Please donate #{link_to 'here', donate_url} and bring printed proof of your donation to the race.

  %h3 2. Register

  %p== Then register for the event #{link_to 'here', 'http://rubyconfxk.eventbrite.com/'}.
