<% content_for :rightcol do %>
  <%= render :partial => "rightcol" %>
  
  
<% end %>

<!-- Main page content below this line -->

<h3>Donate</h3>

<p>
The "fee" for entry is a donation to <%= link_to_charity %>. Please donate <%= link_to 'here', donate_url %> and bring printed proof of your donation to the race.  
</p>

<h3>Register</h3>

<p>
Then register for the event <%= link_to 'here', 'http://rubyconf5k.eventbrite.com/', :target => '_blank' %>.
</p>
