<% content_for :rightcol do %>
  <%= render :partial => "rightcol" %>
  
  
<% end %>

<!-- Main page content below this line -->

<h3>Donate</h3>

<p>
The "fee" for entry is a donation to FIXME WITH LINK. Please donate <a href="FIXME">here</a> and bring printed proof of your donation to the race.  
</p>

<h3>Register</h3>

<p>
Then register for the event <a href="FIXME">here</a>. 
</p>
