<% content_for :rightcol do %>
  <%= render :partial => "rightcol" %>
  
  
<% end %>

<!-- Main page content below this line -->

<h2>Donate</h2>

The "fee" for entry is a donation to FIXME WITH LINK. Please donate <a href="FIXME">here</a> and bring printed proof of your donation to the race.

<h2>Register</h2>

Then register for the event <a href="FIXME">here</a>. 