<section>
  <h1>
    Results
  </h1>

  <p>
    <em>
      Please send any corrections to <a href="mailto:jarkko@jlaine.net">jarkko</a>.
    </em>
  </p>

  <h2>
    Women, 10km
  </h2>

  <ol>
    <li>Barbara Rairz  00:48:15</li>
  </ol>

  <h2>
    Men, 10km
  </h2>

  <ol>
    <li>John B. Hall   0:33:26</li>
    <li>Jarkko Laine   0:36:37</li>
    <li>Martin Thiede  0:37:48</li>
    <li>Michal A.  0:42:26</li>
    <li>Renzo Borgatti   0:43:51</li>
    <li>Eirik Dentz Sinclair   0:44:06</li>
    <li>Djurberg   0:45:44</li>
    <li>Sandro Turriate  0:45:45</li>
    <li>Paul Wilson  0:48:11</li>
    <li>Jon Jensen   0:48:58</li>
    <li>David Body   0:49:57</li>
    <li>Tom Metge  0:52:45</li>
    <li>Paul Beccu   0:52:55</li>
    <li>Doug Alcorn  0:53:30</li>
    <li>Luke Pillow  0:54:42</li>
    <li>Chris Nelson  0:55:30</li>
    <li>Patrick Ritchie  0:56:01</li>
    <li>Jeff Felchner  0:57:36</li>
    <li>Jason Rush   0:57:38</li>
    <li>Marc Peabody   0:57:46</li>
    <li>Barrett Clark  0:57:48</li>
    <li>Jonathan Wallsel   0:59:07</li>
    <li>Jon Distad   0:59:26</li>
    <li>John M. Carlin   1:01:21</li>
    <li>Marek de Heus  1:05:20</li>
    <li>Joe Wilk   1:07:00</li>
  </ol>

  <h2>
    Women, 5km
  </h2>

  <ol>
    <li>Nele Vanderhaegen  0:26:07</li>
    <li>Ebi Patterson  0:31:05</li>
    <li>Eef Wilgenhof  0:32:15</li>
    <li>Aarti Parikh   0:33:00</li>
    <li>Aja Hammerly   0:35:21</li>
    <li>Renée DeVoursny  0:36:02</li>
    <li>Kristina Wallace   0:37:20</li>
    <li>Cate Strobl  0:37:50</li>
    <li>Yoko Harada  0:39:00</li>
    <li>Elise Worthy   0:39:30</li>
    <li>Bita   0:43:15</li>
    <li>Shannon Rush   0:43:43</li>
    <li>Whitny Garrison  0:46:00</li>
    <li>Gayle Craig  0:49:26</li>
    <li>Jeann Gardner  0:53:59</li>
    <li>Kelly Fowler   0:53:59</li>
  </ol>

  <h2>
    Men, 5km
  </h2>

  <ol>
    <li>Jonathan Otto  0:17:03</li>
    <li>David James  0:20:42</li>
    <li>Dave Campbell  0:22:08</li>
    <li>Evan Jacobs  0:22:23</li>
    <li>Jeff Kunkle  0:22:32</li>
    <li>Joey Hanzel  0:22:32</li>
    <li>Allen Riddle   0:22:37</li>
    <li>Scott Chacon   0:22:58</li>
    <li>Rob Sanheim  0:23:30</li>
    <li>Marty Haught   0:23:55</li>
    <li>Matt di Pasquale   0:23:56</li>
    <li>Marcus Derencius   0:24:28</li>
    <li>Evan Dorn  0:24:35</li>
    <li>Terence Lee  0:24:43</li>
    <li>Ryan McGeary   0:24:47</li>
    <li>Dan Melton   0:24:51</li>
    <li>Jose Fernandez   0:25:07</li>
    <li>Pint Stijn   0:25:19</li>
    <li>Stijn vav Vreckem  0:26:17</li>
    <li>Jeff Zellman   0:26:33</li>
    <li>Steven Harms  0:27:00</li>
    <li>Chris Lihosit  0:27:11</li>
    <li>Eric Retzloff  0:27:13</li>
    <li>Christopher Murphy   0:27:13</li>
    <li>Sam Rawlins  0:27:23</li>
    <li>Gustin Prudner   0:27:39</li>
    <li>Federico Soria   0:27:45</li>
    <li>Alex Stupka  0:28:14</li>
    <li>Ben Curren   0:28:15</li>
    <li>Casey Rosenthal  0:28:33</li>
    <li>Jeffrey Lee  0:28:47</li>
    <li>Michael Copple   0:28:55</li>
    <li>Aaron Lee  0:28:57</li>
    <li>Julien France  0:29:04</li>
    <li>Bill Davenport   0:29:18</li>
    <li>Nicholas Howard  0:29:41</li>
    <li>Evan Phoenix   0:29:41</li>
    <li>Marcus Irwen   0:30:09</li>
    <li>Elto Katagiri  0:30:55</li>
    <li>Nathaniel Talbott  0:31:03</li>
    <li>Aaron Patterson  0:31:05</li>
    <li>Anthony Crumley  0:31:10</li>
    <li>Lee Jensen   0:31:37</li>
    <li>Tom Anderson   0:32:07</li>
    <li>Ben Wyrosdick  0:32:38</li>
    <li>Luigi Montanez   0:32:50</li>
    <li>Adam Keys  0:33:40</li>
    <li>James Healy  0:34:09</li>
    <li>Jeremy Hinegardner   0:35:21</li>
    <li>Nicholas Wright  0:36:02</li>
    <li>John Paul Ashenfelter  0:38:30</li>
    <li>Mark Ranallo  0:38:45</li>
    <li>Joeri Samson   0:39:40</li>
    <li>Chad Fowler  0:41:15</li>
    <li>Anthony Eden   0:41:43</li>
    <li>Peter Vanbroekhoven  0:43:10</li>
    <li>Rajesh Kumar   0:43:10</li>
    <li>Jeffrey ODell  0:44:12</li>
    <li>jugyo  0:46:00</li>
    <li>John Athayde   0:46:15</li>
    <li>Mark Gardner   0:47:41</li>
    <li>Atumu Aizawa   0:50:00</li>
    <li>Prakash Murthy   0:52:13</li>
    <li>Chorn  0:52:30</li>
    <li>Jeff Whitmire  0:52:39</li>
    <li>Sean Hussey  0:53:14</li>
    <li>David Yang   0:53:14</li>
    <li>Benjamin Scofield   0:54:00</li>
  </ol>

</section>