<% content_for :rightcol do %>
  <%= render :partial => "rightcol" %>
<% end %>

<h2 class="sifrd">When?</h2>

<p>
  Run starts at 7:30 AM on Friday morning, Friday, 20 November, 2009.
</p>

<p>
Run ends when the last person crosses the finish line or the morning sessions start*, whichever comes first.
</p>

<p>
  * Friday morning sessions begin at 9:30 AM.
</p>
