%h1 When?

%p Run starts at 7:00 AM on Friday morning, November 12th, 2010.

%p Run ends when the last person crosses the finish line or the morning sessions start*, whichever comes first.

%p * Friday morning sessions begin at 9:15 AM.